.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

h1{
  color: lightblue;
}


.game-cell{
  background: white;
  height: 50px;
  width:50px;
  margin:2px;
  grid-area: auto;
}

.hint-cell, .game-cell{
  padding: 4px;
}

.game-cell.selected{
  background:lightblue
}

.hint-cell{
  background: #282c34;
  margin:2px
}

.coin{
  border-radius: 100%;
  width:100%;
  height:100%;
  margin: 2px;
}

.hint-cell .coin{
  /*border: 2px solid red;*/
}

#game-board{
  background: grey;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 1fr);
  border:2px solid black;
}

#stats{
  background: white;
  padding: 8px;
  display:flex;
  justify-content: space-around;
  margin-bottom: 20px
}

footer{
  padding: 8px 0;
  color: grey
}
